.landing-page-btn{
    display: block;
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    
}