.product{
    height: 300px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 17px 17px 20px -20px rgba(0,0,0,0.75);
    text-align: center;
    padding: 5px;
    margin: 10px;
    img{
        width: 100%;
        height: 170px;
        object-fit: contain;
       
    }
    .product-name{
        color: #2FA4FF;
        font-size: medium;
        font-weight: 500;
        margin: 0px;
        padding: 0px;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            border: none;
            width: 70px;
            height: 30px;
            font-weight:600;
            font-size: 1.1rem;
            margin: 10px;
            color:#fff;
        }
        p{
            font-size: 1.2rem;
            font-family: Arial, Helvetica, sans-serif;
            color: #2FA4FF;
        }
    }
}